.page {
    max-width: 880px;
    background-color: #000;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-style: normal;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 19px;
}

@media (max-width:690px) {
    .page {
        padding: 0;
    }
}