.header__link {
    padding: 0 27px 0 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration-line: none;
    transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
    opacity: 0.6;
}