.form__header {
    margin: 0;
    padding-top: 34px;
    align-self: flex-start;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    max-width: 358px;
    text-align: center;
}

@media (max-width: 530px) {
    .form__header {
        padding-top: 25px;
        font-size: 18px;
        line-height: 22px;
    }
}