.form__save-button_disabled {
    color: black;
    background-color: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: .2;
}

.form__save-button_disabled:hover {
    opacity: 0.2;
    cursor: default;
}